@model AddPhoneNumberViewModel
@{
    ViewData["Title"] = "Add Phone Number";
}

<div class="row">
    <div class="col-md-4 mx-auto">
        <h2>@ViewData["Title"].</h2>

        <form asp-controller="Manage" asp-action="AddPhoneNumber" method="post" class="form-horizontal" role="form">
            <h4>Add a phone number.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="PhoneNumber" class="form-control" />
                <label asp-for="PhoneNumber" class="form-label"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Send verification code</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
