@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
    <h4>Reset your password.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <div class="form-floating">
        <input asp-for="Email" class="form-control" />
        <label asp-for="Email" class="form-label"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="Password" class="form-control" />
        <label asp-for="Password" class="form-label"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="ConfirmPassword" class="form-control" />
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-default">Reset</button>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
