@inject SignInManager<ApplicationUser> SignInManager

<nav class="ms-Nav">
    <div class="ms-Nav-group">
        <a asp-action="Index" class="ms-Nav-link @ManageNavPages.IndexNavClass(ViewContext)">
            <i class="ms-Icon ms-Icon--Contact" aria-hidden="true"></i>
            <span class="ms-Nav-linkText">Профиль</span>
        </a>
        <a asp-action="ChangePassword" class="ms-Nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)">
            <i class="ms-Icon ms-Icon--Lock" aria-hidden="true"></i>
            <span class="ms-Nav-linkText">Пароль</span>
        </a>
        <a asp-action="TwoFactorAuthentication" class="ms-Nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">
            <i class="ms-Icon ms-Icon--Shield" aria-hidden="true"></i>
            <span class="ms-Nav-linkText">Двухфакторная аутентификация</span>
        </a>
    </div>
</nav> 